.containerRight {
    display: grid;
    grid-template-rows: 120px 1fr;
}

.containerRightTop {
    font-size: 2rem;
    font-weight: 100;
    line-height: 50px;
    color: rgb(150, 150, 150);
    border-bottom: 1px solid rgb(210, 210, 210);
    padding: 30px;
}

.containerRightBottom {
    background-color: rgb(245, 245, 245);
    padding: 30px;
}

.attendanceContainer {
    width: 320px;
    display: block;
    margin: 0px auto;
    margin-top: 50px;
    text-align: center;
}

.attendanceComment {
    font-size: 1.5rem;
    color: rgb(0, 100, 255);
    text-align: center;
    margin-top: 30px;
}

.attendanceNumber {
    font-size: 2.5rem;
    color: rgb(0, 100, 255);
    text-align: center;
}

.studentAttendanceNumberInput {
    width: 120px;
    height: 50px;
    font-size: 1.2rem;
    color: rgb(0, 100, 255);
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.studentAttendanceNumberInput[type="number"]::-webkit-outer-spin-button,
.studentAttendanceNumberInput[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.studentCheckAttendanceButton {
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 150, 50);
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}

.studentNoAttendance {
    margin-top: 100px;
    font-size: 1.5rem;
    font-weight: 1000;
    color: rgb(120, 120, 120);
    text-align: center;
}

.checkingTimeLabel {
    margin-right: 10px;
}

.checkingTimeInput {
    width: 60px;
    height: 40px;
    font-size: 1.2rem;
    color: rgb(250, 150, 50);
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: right;
}

.checkingTimeMinute {
    margin-left: 5px;
}

.startCheckButton {
    width: 160px;
    height: 50px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 150, 50);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}

.goBackButton {
    font-size: 1.2rem;
    border: none;
    color: rgb(0, 100, 255);
    background-color: transparent;
    margin-bottom: 20px;
    cursor: pointer;
}

.totalAttendanceButton {
    width: 160px;
    height: 50px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 100, 255);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0px auto;
    margin-top: 20px;
}

.totalAttendanceContainer {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 30px;
}

.dateSelected {
    width: 100%;
    height: 60px;
    font-size: 1rem;
    border: none;
    color: rgb(0, 100, 255);
    background-color: transparent;
    text-align: left;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.dateNotSelected {
    width: 100%;
    height: 60px;
    font-size: 1rem;
    border: none;
    color: rgb(150, 150, 150);
    background-color: transparent;
    text-align: left;
    border-bottom: 1px solid rgb(210, 210, 210);
    cursor: pointer;
}