.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
}

.containerLeft {
    background-color: rgb(30, 40, 50);
}

.containerRight {
    display: grid;
    grid-template-rows: 120px 1fr;
}

.containerRightTop {
    font-size: 2rem;
    font-weight: 100;
    line-height: 50px;
    color: rgb(150, 150, 150);
    border-bottom: 1px solid rgb(210, 210, 210);
    padding: 30px;
}

.containerRightBottom {
    background-color: rgb(245, 245, 245);
    padding: 30px;
}

.noClasses {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(150, 150, 150);
}

.Header {
    font-size: 1.2rem;
    font-weight: 100;
    color: rgb(100, 100, 100);
    margin-bottom: 20px;
}

.classElements {
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(210, 210, 210);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.className {
    font-size: 1.2rem;
    color: rgb(0, 100, 255);
    line-height: 30px;
    padding-left: 15px;
}

.createdTime {
    font-size: 1rem;
    font-weight: 100;
    color: rgb(150, 150, 150);
    line-height: 30px;
    padding-left: 15px;
}

.addButton {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 150, 50);
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}

.cancelButton {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.addContainer {
    width: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: block;
    margin: 0px auto;
    margin-top: 300px;
    padding: 30px;
}

.properties {
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    color: rgb(0, 100, 255);
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.inputBox {
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    color: rgb(0, 100, 255);
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}